.index_body,
.rules_body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#615dad, #ffc8da);
}

.main_picture {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.index_main,
.rules_main {
  display: flex;
  margin: 40px 0;
  flex-direction: column;
  width: 500px;
  background-color: #283e50;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.gameSection {
  padding: 10px;
  text-align: center;
}

.rulesSection {
  padding: 30px 15px 0 15px;
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

figure {
  margin: 30px 0 0 0;
}

figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

ol > li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.listOfrules {
  padding: 20px 40px 0 0;
  text-align: left;
  margin: 0;
  padding-inline-start: 100px;
}

.gameName,
.rules {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  margin: 10px 0;
}

ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.liButtons {
  display: inline-block;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.pravidla,
.odkazUvod {
  background-color: #1fcca4;
}

.odkazHra {
  background-color: #0197f6;
  border-top: solid 2px #283e50;
}

.pravidla:hover,
.pravidla:focus,
.odkazUvod:hover,
.odkazUvod:focus {
  background-color: #1cbb96;
}

.odkazHra:hover,
.odkazHra:focus {
  background-color: #0090e9;
}

.photoInstructions {
  width: 90%;
}

.pictureCross,
.pictureCircle {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

/* široká obrazovka */
@media screen and (min-width: 800px) {
  .rulesSection {
    display: flex;
    flex-direction: column;
  }

  .fotoNavody {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    flex-basis: 50%;
  }

  .listOfrules {
    padding-inline-start: 40px;
  }

  figcaption,
  ol > li {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .rules_main {
    width: 600px;
  }

  a {
    font-size: 17px;
  }
}

/* velmi široká obrazovka */
@media screen and (min-width: 1400px) {
  .rules_main {
    max-width: 800px;
  }
}
